/* Card */
.container {
    max-width: 1384px;
    height: auto;
    width: 90%;
    margin: 40px auto; 
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(212, 212, 212, 1);
}

textarea {
  height: 300px;   /* ปรับตามที่ต้องการ */
  resize: none;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

/* ตัวหนังสือ */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea, select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 5px;

}

.row {
  display: flex;
  gap: 20px;
}

.row .form-group {
  flex: 1;
}

/* Upload box */
.upload-box {
  border: 2px dashed #aaa;
  padding: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.btn-upload {
  background: #8e44ad;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
}

/* ปุ่ม Post */
.btn-post {
  margin: 50px auto;
  background:#9b59b6;
  color: white;
  border: none;
  padding:15px 60px;
  border-radius: 4px;
  display: block;
  font-size: 16px;
}

select option {
  background-color: white;
  color: black;
}

.btn-post:hover {
    background: #8e44ad;
}
.btn-post:active {
    background: #868686; 
}


/* ทำชี้สีม่วง */
input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease;
}

/* ตอนเอาเมาส์ชี้ */
input:hover,
textarea:hover,
select:hover {
  border-color: #9b59b6;
}

/* ตอนคลิกใช้งาน */
input:focus,
textarea:focus,
select:focus {
  border-color: #9b59b6;
  box-shadow: none;
}