* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif; 
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;       
    margin: 0;
}
.container {
    max-width: 1384px;
    min-height: 1260px;
    width: 95%;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(212, 212, 212, 1);
    margin-top: 10px;
    
}  

.container h1 {
    text-align:center;
    margin-bottom:20px;
}

.upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 586px;
    height: 330px;
    border:1px dashed #ddd;
    margin: 40px auto;
    border-radius: 10px;
    text-align:center;
    cursor:pointer;
    overflow: hidden;
    background: white;
    position: relative;
}

.upload-area small {
    color: #5D5D5D;
    margin: 0;
    margin-top: 15px;
}

.upload-area button {
    background:#9b59b6;
    color:white;
    border:none;
    padding:8px 35px;
    border-radius:4px;
    margin-top: 15px;
}

#preview {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border:1px solid #ddd;
    border-radius:5px;
    object-fit: contain;
}

.inputnamejob input {
    width:100%;
    padding: 10px 20px;
    border:1px solid #ddd;
    border-radius:4px;
    margin-top: 5px;
    outline: none;
}

.form-row {
  display: flex;     
  gap: 20px;         
  align-items: flex-end; 
}
.inputcategory {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}
.peice {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}
.inputcategory select{
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 5px;
    background-color: white;
    color: #817E7E;
    border: 1px solid #ddd;
    cursor: pointer;
    outline: none;
    /*appearance: none;*/
}

.peice input {
    width:100%;
    padding:10px 20px;
    margin-top: 5px;
    border:1px solid #ddd;
    border-radius:5px;
    outline: none;
}

.detail {
    display: flex;
    flex-direction: column;
}

.detail textarea {
    width: 100%;
    min-height: 440px;
    margin-top: 5px;
    padding:10px 20px;
    border:1px solid #ddd;
    border-radius:5px;
    resize: none;
    overflow: hidden;
    outline: none;
}

.inputcategory select:hover {
    border-color: #9b59b6;     
}
.inputnamejob input:hover {
    border-color: #9b59b6;     
}
.peice input:hover {
    border-color: #9b59b6;
}
.detail textarea:hover {
    border-color: #9b59b6;
}

.post_button {
    display: flex;
    justify-content: center;
}
.post_button button{
    background:#9b59b6;
    color:white;
    cursor: pointer;
    border:none;
    border-radius:4px;
    margin-top: 10px;
}
button:hover {
    background: #8e44ad;
}
button:active {
    background: #868686; 
}

