<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/../login/css/sign_in.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <main>
        <div class="student">
            <div class="left_login">
                <h2>เข้าสู่ระบบ</h2>
                <p>สำหรับนิสิต</p>
                <form action="/loginSTD/api" method="POST">
                    <input type="email" name="email" id="email" placeholder="อีเมลหรือหมายเลขโทรศัพท์มือถือ"><br>
                    <input type="password" name = 'password' id="password" placeholder="รหัสผ่าน"><br>
                    <button type="submit"id="submitBtn_create">เข้าสู่ระบบ</button>
                </form>
            </div>

            <div class="right_gen">
                <h2>เข้าสู่ระบบผู้ใช้งานทั่วไป</h2>
                <p>หากคุณไม่ใช่นิสิตปัจจุบัน โปรดลงทะเบียนเพื่อเข้าใช้งานระบบ</p>
                <button class="toGeneral">เข้าสู่ระบบผู้ใช้งานทั่วไป</button>
            </div>
        </div>

        <div class="general">
            <div class="right_login">
                <h2>เข้าสู่ระบบ</h2>
                <p>สำหรับบุคคลทั่วไป</p>
                
                <form action="/logingen" method="POST">
                    <input type="email" name="email" id="email" placeholder="อีเมลหรือหมายเลขโทรศัพท์มือถือ" ><br>
                    <input type="password" name = 'password' id="password" placeholder="รหัสผ่าน" ><br>
                    <button type="submit" id="submitBtn">เข้าสู่ระบบ</button>
                    <span>ยังไม่มีบัญชีผู้เข้าใช้ ? 
                        <a href="http://localhost:3000/general/regisGen">สร้างบัญชี</a>    
                    </span>
                </form>

            </div>

            <div class="left_stu">
                <h2>เข้าสู่ระบบนิสิต</h2>
                <p>หากคุณเป็นนิสิต โปรดลงทะเบียนเพื่อเข้าใช้งานระบบ</p>
                <button class="toStudent">เข้าสู่ระบบนิสิต</button>
            </div>

</div>

        </div>
    </main>

    <script src="/../loginjs/action_singin.js"></script>
    <script src="/../loginjs/alertox.js"></script>
    <!-- <script>
        document.getElementById("submitBtn").addEventListener("click", function(event) {
        event.preventDefault(); 
        window.location.href = '../home/home_gen.html'; 
    });
        document.getElementById("submitBtn_create").addEventListener("click", function(event) {
        event.preventDefault(); 
        window.location.href = 'create_stu.html'; 
    });
    </script>-->

</body>
</html>