/* 1. ตัวแม่: ทำหน้าที่เป็นกรอบแคปซูลอันเดียว */
.post_sw{
    padding: 0 5%;
}

.toggle_sw {
    display: flex;
    margin-top: -55px;
    justify-content: flex-end;
    background-color: white;   
    border: 2px solid #8d8d8d; 
    border-radius: 50px;      
    width: fit-content;        /* กว้างเท่าปุ่มพอดี */
    margin-left: auto;
    padding: 2px;            
    overflow: hidden;
    width: 300px;
    
}

.toggle_sw button {
    flex: 1;
    padding: 8px 25px;
    border: none;              
    background: transparent;   /* โปร่งใสเพื่อให้เห็นพื้นหลังขาวของตัวแม่ */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;     
    transition: 0.2s;    
}

.toggle_sw button.active {
    background: linear-gradient(180deg, #8557A5, #AE73D8);
    color: white;
    border-radius: 50px;  
}