<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/change_data"method='POST'>
        <input type="text" name="job" id="job" placeholder="Job">
        <input type="text" name="group" id="group" placeholder="Group">
        <input type="number" name="number" id="number" placeholder="Contact number">
        <input type="number" name="budjet" id="budjet"placeholder="Budjet">
        <textarea name="description" id="description" width ='300px' height = '300px'>descripton</textarea>
        <button type="submit">click</button>
    </form>
</body>
</html>