<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/change_data"method='POST'>
        <select name="job" id="job">
            <option value="healthy">healthy</option>
            <option value="digital">digital</option>
        </select>
        <select name="group" id="group">
            <option value="EN">EN</option>
            <option value="SC">SC</option>
            <option value="MD">MD</option>
            <option value="ARCH">ARCH</option>
            <option value="EDU">EDU</option>
            <option value="ARTS">ARTS</option>
            <option value="BUS">BUS</option>
            <option value="LAW">LAW</option>
            <option value="COMM">COMM</option>
            <option value="ARGI">ARGI</option>
            <option value="ICT">ICT</option>    
        </select>
        <input type="number" name="number" id="number" placeholder="Contact number">
        <input type="number" name="budjet" id="budjet"placeholder="Budjet">
        <textarea name="description" id="description" stlye = "width :'300px' height : '300px'">descripton</textarea>
        <button type="submit">click</button>
    </form>
</body>
</html>