<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #picture{
            display:none;
            width:50% ;
        }
        #username{
            display:none;
        }
    </style>
</head>
<body>
    <h1>Dash board general</h1>
    <img src="unnamed.jpg" id = "picture" alt="whylogin" >
    
    
    <form action="/job_form" >
        <button style="display:none" type="submit" id = 'button_sd'>click</button>
    </form>
    
    <p id = 'username' name = 'username'></p>
    <button type="button"style="display:block">Hire</button>
    <form action="/change_data">
        <button style="display: none;" type="submit"id = 'button_change'>change data</button>
    </form>
    <form action="/logout" >
        <button type="submit">logout</button>
    </form>
    
    <input type="hidden" id = 'role' name= 'role'>
    <div id ='job_feed'>hello</div>
    <script >
        
        fetch('/api/user_info').then(response=>response.json()).then(data=>{
            
            if(data.loggedIn){
                console.log("userdata:",data)
                if((data.role==='student'||data.role==='dev') &&data.create_job !=1){
                            document.getElementById("button_sd").style.display='block'
                    }
                else{document.getElementById("button_sd").style.display='none'}
                if(data.create_job ==1){
                            document.getElementById("button_change").style.display='block'
                    }
                else{document.getElementById("button_change").style.display='none'}
            }
        })

        function show_job(){
            fetch('/api/jobs').then(response=>response.json()).then(jobs=>{
                const feed = document.getElementById("job_feed")
                feed.innerHTML=''
                if(jobs.length===0){
                    feed.innerHTML="<p>No right now :<</p>"
                    return ;    
                }
                jobs.forEach(job=>{
                    const html = `
                        <div>
                            <p>Name : ${job.username}</p>
                            <p>Job : ${job.job}</p>
                            <p>Group : ${job.user_group}</p>
                            <p>Contact number : ${job.user_number}</p>
                            <p>Budjet : ${job.budjet}</p>
                            <text-area width = 100px height = 100px>${job.des_cription}
                            </text-area>
                        </div>
                    `;
                    feed.innerHTML += html
                })
            })
            
        }
        show_job()
        
</script>
</body>
</html>