<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <div>
            
            <a href="/login"><button type="button">Login</button></a>
            <a href="/register"><button type="button" stlye="display:none">register</button></a>
            <h1>say hi from gooooo</h1>
        </div>
        
    </header> 
    
    <script src="./js/RegLog.js"></script>
</body>
</html>