<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create_job" method="POST">
        <p id="name"></p>
        <label for="job"></label>
        <select name="job" id="job">
            <option value="healthy">healthy</option>
            <option value="digital">digital</option>
        </select>
        <select name="group" id="group">
            <option value="EN">EN</option>
            <option value="SC">SC</option>
            <option value="MD">MD</option>
            <option value="ARCH">ARCH</option>
            <option value="EDU">EDU</option>
            <option value="ARTS">ARTS</option>
            <option value="BUS">BUS</option>
            <option value="LAW">LAW</option>
            <option value="COMM">COMM</option>
            <option value="ARGI">ARGI</option>
            <option value="ICT">ICT</option>    
        </select>
        <input type="number" placeholder="number"name = 'number' id="number">
        <input type="number" placeholder="budjet"name = 'budjet' id="budjet">
        <textarea   style="width:300px; height:300px;"name = 'description' id="description">Description about job</textarea>
        <button type="submit">create post</button>
    </form>

    <script>
        const name = document.getElementById("name")
        fetch('/api/user_info').then(Response=>Response.json()).then(data=>{
            if(data.username){
                name.innerText = `hi ${data.username}`
            }
        })
    </script>
</body>
</html>