<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        
        <input type="text" placeholder="Username" name = 'username' required>
        <input type="email" placeholder="Email" name = 'email' required>
        <input type="number" placeholder="Phone number" name = 'number' required>
        <input type="password" placeholder="Password" name = 'password' required>
        <!-- <input type="radio" value="student" id = "Student" name = 'role' >
        <label for="Student">Student</label>
        <input type="radio" value="general" id = "General" name = 'role' checked>
        <label for="General">general</label>
        <input type="radio" value="dev" id = "Dev" name = 'role' >
        <label for="Dev">Dev</label> -->
        <label for="drop_down">roles</label>
        <select id="drop_down" name = 'role'>
            <option value="student">student</option>
            <option value="general" >general</option>
            <option value="dev">dev</option>
        </select>
        <button type="submit">register</button>
        <p id="error_text" style="color: red; display:none "></p>
    </form>
    Already have an account?
    <a href="/login">Login</a>
    <script src="./js/RegLog.js"></script>
</body>
</html>