<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/reset2" method="POST">
        <input type="hidden" id="hidden-email"name="email">
        <input type="password" placeholder="password" name = 'password' required>
        <button type="submit">reset</button>
    </form>
    <script>
        const urlparam = new URLSearchParams(window.location.search)
        const emailfromurl = urlparam.get('email')
        const email_hidden = document.getElementById("hidden-email")
        if(emailfromurl){
            email_hidden.value = emailfromurl
        }else{
            window.location.href = "/reset1?error=105"
        }

        
        
    </script>
        
</body>
</html>