.step-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 40px;
}

.step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #999; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.step.active { 
    background-color: #9b4dca; 
}

.line {
    width: 80px;
    height: 2px;
    background-color: #ddd;
    margin: 0 10px;
}

.line.active { 
    background-color: #9b4dca; 
}
