
.container {
    max-width: 1384px;
    height: 1200px;
    width: 90%;
    margin: 40px auto; 
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(212, 212, 212, 1);
}

.container h1 {
    text-align:center;
    margin-bottom:20px;
}

.upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 586px;
    height: 330px;
    border:1px dashed #ddd;
    margin: 40px auto;
    border-radius: 10px;
    text-align:center;
    cursor:pointer;
    overflow: hidden;
    background: white;
    box-sizing: border-box;
    position: relative;
}

.upload-area small {
    color: #5D5D5D;
    margin: 0;
    margin-top: 15px;
}

.upload-area button {
    background:#9b59b6;
    color:white;
    border:none;
    padding:8px 35px;
    border-radius:4px;
    margin-top: 15px;
}

#preview {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border:1px solid #ddd;
    border-radius:5px;
    object-fit: contain;
}

label {
    margin-top: 10px;
}

.inputnamejob input,
.peice input,
.detail textarea{
    width:100%;
    box-sizing: border-box;
    border:1px solid #ddd;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius:5px;
    outline: none;
}

.form-row {
  display: flex;     
  gap: 20px;         
  align-items: flex-end; 
}
#category {
    color: #000;
}
.inputcategory {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}
.peice {
    display: flex;
    flex-direction: column; 
    flex: 1; 
}
.inputcategory select{
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 5px;
    background-color: white;
    color: #817E7E;
    border: 1px solid #ddd;
    cursor: pointer;
    outline: none;
    /*appearance: none;*/
}
.detail {
    display: flex;
    flex-direction: column;
}

.detail textarea {
    min-height: 440px;
    resize: none;
    overflow: hidden;
}

.inputcategory select:hover {
    border-color: #9b59b6;     
}
.inputnamejob input:hover {
    border-color: #9b59b6;     
}
.peice input:hover {
    border-color: #9b59b6;
}
.detail textarea:hover {
    border-color: #9b59b6;
}

.post_buttonS {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.post_buttonS button{
    background:#9b59b6;
    color:white;
    cursor: pointer;
    border:none;
    padding:15px 60px;
    border-radius:4px;
    margin-top: 10px;
    font-size: 16px;
}
.post_buttonS button:hover {
    background: #8e44ad;
}
.post_buttonS button:active {
    background: #868686; 
}

