body{
    background-image:url(/photo/background_logo_SDhire.jpg);
    background-repeat: no-repeat;  
    background-size: cover;        
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: 'Kanit', sans-serif; 
}

.general{
    display: none;
    flex-direction: row-reverse;
}

.student{
    display: flex;
}


.student,.general{
    box-shadow: 0px 0px 5px 0px rgb(119, 114, 114);
    border: none;
    border-radius: 20px;
    background: white;

    /* ปรับตรงนี้ */
    width: 90%;            /* ใช้เปอร์เซ็นต์แทน px */
    max-width: 850px;     /* กว้างสุดไม่เกิน 1100px */
    height: auto;          /* ให้ความสูงยืดตามเนื้อหา */
    min-height: 550px;     /* ความสูงขั้นต่ำ */

    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    display: flex;         /* ให้ลูกๆ เรียงกัน */
    overflow: hidden;      /* กันส่วนที่โค้งล้นออกมา */
 
}

.left_login,.right_login{
    text-align: center;
    flex: 1;
    padding: 60px 50px;
    display: flex;           /* เพิ่มเพื่อจัดกลาง */
    flex-direction: column;
    justify-content: center;

}

.left_login h2,.right_login h2{
    font-size: 32px;
    font-weight: 600px;
}

.left_login p,.right_login p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #444;
}

.left_login input,.right_login input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
}

.left_login button,.right_login button{
    width: 50%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: #6a0dad;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.left_login button:hover,.right_login button:hover {
    background: #ba94db;
}


.right_gen,.left_stu{
    flex: 1;
    padding: 60px 50px;
    background: linear-gradient(135deg, #8D38C9, #A45DD6);
    color: white;
    text-align: center;

    align-self: stretch;    /* บังคับให้ยืดเต็มความสูงกล่องแม่ทันที */
    display: flex;          /* ใช้ flex เพื่อจัดเนื้อหาข้างในให้อยู่กลาง */
    flex-direction: column;
    justify-content: center; 
    box-sizing: border-box;
    
}

.right_gen{
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.left_stu{
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.right_gen h2,.left_stu h2{
    font-size: 32px;
    font-weight: 600px;
}

.right_genc p,.left_stu p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #ffffff;
}

.right_gen .toGeneral,.left_stu .toStudent{
    transition: 0.2s;
    margin-top: 50px;
    padding: 14px 25px;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}


.right_gen button:hover,.left_stu button:hover{
    background: #ccc;
    
}

