body{
    background-image:url(/photo/background_logo_SDhire.jpg);
    background-repeat: no-repeat;  
    background-size: cover;        
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: 'Kanit', sans-serif; 
}

.general{
    display: none;
    flex-direction: row-reverse;
}

.student{
    display: flex;
}


.student,.general{
    box-shadow: 0px 0px 5px 0px rgb(119, 114, 114);
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, #8D38C9, #A45DD6);
    color: white;
    

    /* ปรับตรงนี้ */
    width: 90%;            /* ใช้เปอร์เซ็นต์แทน px */
    max-width: 1000px;     /* กว้างสุดไม่เกิน 1100px */
    height: auto;          /* ให้ความสูงยืดตามเนื้อหา */
    min-height: 650px;     /* ความสูงขั้นต่ำ */

    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    display: flex;         /* ให้ลูกๆ เรียงกัน */
    overflow: hidden;      /* กันส่วนที่โค้งล้นออกมา */
 
}

.left_login,.right_login{
    text-align: center;
    flex: 1;
    padding: 60px 50px;
    display: flex;           /* เพิ่มเพื่อจัดกลาง */
    flex-direction: column;
    justify-content: center;

}

.left_login h2,.right_login h2{
    margin: 0;
    font-size: 38px;
    font-weight: 600px;
}

.left_login p,.right_login p {
    margin: 0;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #ffffff;
}
/*---------------------------------------*/
/* รวบประกาศคุณสมบัติที่เหมือนกันไว้ด้วยกัน */
.left_login input, .right_login input,
.left_login button, .right_login button {
    width: 100%;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 30px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.left_login input, .right_login input {
    height: 50px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

.left_login button, .right_login button {
    padding: 10px 15px;
    border: none;
    background: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.left_login button:hover,.right_login button:hover {
    background: #cccccc86;
}


.right_gen,.left_stu{
    flex: 1;
    padding: 60px 50px;
    color: rgb(0, 0, 0);
    text-align: center;

    align-self: stretch;    /* บังคับให้ยืดเต็มความสูงกล่องแม่ทันที */
    display: flex;          /* ใช้ flex เพื่อจัดเนื้อหาข้างในให้อยู่กลาง */
    flex-direction: column;
    justify-content: center; 
    box-sizing: border-box;
    
}

.right_gen{
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    
    background-image:url(/photo/background_logo_SDhire.jpg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.left_stu{    
    background-image:url(/photo/bellll.png);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.right_gen h2,.left_stu h2{
    margin: 0;
    font-size: px;
    font-weight: 600px;
}

.right_genc p,.left_stu p{
    margin: 0;
    font-size: 18px;
    margin-bottom: 30px;
    color: #000000;
}

.right_login a,.right_login span {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
}

/*---------------button------------------*/
.right_gen .toGeneral,.left_stu .toStudent{
    transition: 0.2s;
    margin-top: 50px;
    padding: 14px 25px;
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;

}


.right_gen button:hover,.left_stu button:hover{
    background: #ccc;
    
}
