.post_job{
    display: flex;
    margin-top: 15px;
    border: 1px solid rgba(125, 125, 125, 0.912) ;
    width: 100%;
    border-radius: 7px; 
    overflow: hidden;
    border-collapse: separate; /* เพื่อให้ทำมุมโค้งมนที่ตัวตารางได้ */
    border-spacing: 0;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background: linear-gradient(180deg, #8557A5, #AE73D8);
    color: white;
}

th{
    padding: 10px 15px;
    font-size: 16px;
    text-align: left;
    font-weight:400;
}

tbody tr{
    border-bottom: 1px solid #dcdcdc;
    transition: background-color 0.2s; 
    cursor: pointer;
}

tbody tr:hover {
    transform: scale(1.0);
    background-color: #f2f2f2; 
}

td{
    padding: 15px;
    color: #333;
    font-size: 14px;

    /* กรณีอยากให้ตัดคำแล้วขึ้นบรรทัดใหม่ */
    word-wrap: break-word; 
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.type_selection {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end; /* ชิดขวา */
    align-items: center;
    border-radius: 10px;
}
#typeselect {
    
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px 40px 10px 15px; /* เว้นขวาเยอะหน่อยเผื่อใส่ลูกศร */
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}
#typeselect:focus {
    border-color: #9b59b6; /* สีม่วงธีมหลัก */
    box-shadow: 0 0 0 4px rgba(155, 89, 182, 0.1);
}
/* กำหนดความกว้างเป็น % เพื่อให้รวมกันได้ 100% */
th:nth-child(1) { width: 40%; } /* ชื่องาน (ให้กว้างสุด) */
th:nth-child(2) { width: 15%; } /* ประเภท */
th:nth-child(3) { width: 10%; } /* งบประมาณ */
th:nth-child(4) { width: 20%; } /* ลงประกาศเมื่อ */
th:nth-child(5) { width: 15%; } /* กำหนดส่งงาน */