h3,h5,p{
  margin: 0;
}
/*--------------กรอบรอบโพสต์ย่อย */
.post{
  display: grid; /* เปิดใช้งานระบบ Grid */
  grid-template-columns: repeat(4, 1fr);  /* แบ่งเป็น 4 คอลัมน์เท่าๆ กัน */

}
.post_d{
  margin-top: 10px;
  border: 2px solid #B9B9B9;
  border-radius: 5px;
  width: 260px;
  height: 270px;

  
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}

/*--------------รูปพื้นหลัง โพสต์ย่อย */
.img_back img{
  margin-top: 2px;
  margin-left: 5px;
  width: 250px;
  height: 100px;
  border-radius: 5px;
}

/*--------------รูปโปรไฟล์ โพสต์ย่อย */
.img_profile img{
  width: 70px;
  height: 70px;
  border: 2px solid #B9B9B9;
  border-radius: 100%;
  margin: -20px 0px 5px 5px; /*บน ล่าง ซ้าย ขวา*/
}

/*--------------ชื่อผู้ใช้ */
.cover h5{
  text-overflow: ellipsis; /* เติม ... ท้ายข้อความ */
  white-space: nowrap; /* ห้ามขึ้นบรรทัดใหม่ */
  overflow: hidden; /* ซ่อนส่วนที่เกิน */
  margin-top: -55px;
  margin-left: 90px;
  font-size: 16px;
}

/*--------------ดาว */
.cover p{
  margin-left: 90px;
  font-size: 13px;
}

/*--------------เนื้อหา */
.content{
  margin-left: 5px;
}

.content h5{
  margin-top: 10px;
  font-size: medium;
}

.content p{
  font-size: small;
  word-break: break-all;

  display: -webkit-box;
   /* -webkit-line-clamp: 5;จำนวนบรรทัดที่ต้องการ */
  -webkit-box-orient: vertical;  
  overflow: hidden; /* ต้องมีตัวนี้ด้วยจุดไข่ปลาถึงจะขึ้น */
  
  text-overflow: ellipsis; /* เปลี่ยนส่วนที่ล้นให้เป็น ... */
  line-height: 1.5;
  margin-bottom: 10px;
}

/*---------------------------------------จำนวนเงิน*/
.money{  
  text-align: right;
  color: blueviolet;

  position: absolute; /* ลอยตัวเป็นอิสระ */
  bottom: 10px;      /* ล็อคติดขอบล่าง 10px */
  right: 10px;       /* ล็อคติดขอบขวา 10px */
}
.money h5,.money h3{
  font-size: small;
}
